.profile {
  margin-top: 50px;
  width: 200px;
  background-color: #22262b;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  padding-bottom: 20px;
}
.avatar {
  width: 80px;
  border-radius: 50px;
}
.name {
  font-size: 22px;
  font-weight: 500;
  margin: 20px 0 10px 0;
}
.tag {
  color: #959698;
}
.location {
  margin-top: 10px;
}
.stats {
  border-top: 1px solid #595c60;
  width: 100%;
  display: flex;
  font-size: 14px;
  padding-top: 15px;
  justify-content: space-between;
}
.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label {
  font-size: 16px;
  font-weight: 500;
}
.quantity {
  margin-top: 10px;
}
