.transactionHistory {
  width: 800px;
  border-collapse: collapse;
  font-weight: normal;
  font-size: 20px;
}
.transactionTitle {
  font-size: 30px;
  padding: 10px 50px;
  color: #fff;
  font-weight: 500;
  background-color: #3170f7;
}
.transactionData {
  padding: 5px;
}
